<?xml version="1.0" encoding="utf-8" ?>
<hibernate-mapping xmlns="urn:nhibernate-mapping-2.2"
                   assembly="TestLanguage"
                   namespace="TestLanguage.Hibernate.Entity">
  <class name="Klient">
    <id name="Id">
      <generator class="identity" />
    </id>
    <property name="Name" />
    <property name="DatumStornovani" />

    <set name="Adresy" table="adresy_klientu" inverse="true" lazy="true" cascade="all">
        <key column="klient_id"></key>
        <one-to-many class="Adresa"/>
      </set>
  </class>

  <class name="Adresa">
    <id name="Id">
      <generator class="identity" />
    </id>
    <property name="Ulice" />
    <property name="Psc" />
    <property name="Obec" />
  </class>
</hibernate-mapping>